<!--Homepage-->
<div class="container">

            {{!-- <div class="row"> --}}
           
                    <div class="col-md-12">
                        {{#if article}}
                            {{#each article}}
                                <div class="card">
                                    <div class="card-header">
                                        <h4>{{this.title}}</h4>
                                    </div>
                                    </div>
                
                                    <div class="card">
                                    <div class="card-body">
                                        <p> {{this.summary}}</p>
                                        <a href={{this.link}} target="_blank">{{this.link}}</a>
                                        <br><br>
                                        <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                                        <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete</button>
                                    </div>
                                </div>
               
                            {{/each}}
                        {{else}}
                        <div class="card">
                            <div class="card-body">
                                <h4>You have no saved articles.</h4>
                            </div>
                        </div>
                        {{/if}}
                    {{!-- </div> --}}
         
               </div>
        
        <!--Clicked Notes Modal-->
        {{#each article}}
            {{> notes-modal }}
        {{/each}}